/*==== Elements ====*/

button, input[type="submit"] {
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #d6f1f9;
}

input[type="text"], input[type="password"], textarea {
    padding: 3px 5px;
    border-radius: 3px;
}

table {
	border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

/*==== Containers ====*/

#container {
	width: 80%;
	margin: 20px auto;
}

#content-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row;
}

/*==== Header, footer ====*/

.row {
	background-color: gray;
	padding: 10px;
	text-align: right;
}

.row > h3 {
	margin: 0;
}

/*==== Menu ====*/

#menu {
	flex: 1 200px;
	order: 1;
	background-color: gray;
}

div[menu] {
	cursor: pointer;
	width: 95%;
	padding: 10px;
	margin-left: 5%;
}

div[menu]:hover, div[menu].highlight {
	background-color: lightgray;
}

/*==== Content ====*/

#content {
	flex: 1 100%;
	order: 2;
	padding: 10px;
	min-width: 400px;
	background-color: lightgray;
}

/*==== Users ====*/

#users-table {
	width: 80%;
}