/*
Layout of this css file:
- Elements
- Tables
- Input
- Containers
- Header, footer
- Menu
- Classes
- Id
*/

/*==== Elements ====*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

hr {
	border-color: lightgray;
}

/*==== Tables ====*/

table {
	width: 90%;
	border-collapse: collapse;
	margin-bottom: 10px;
	margin-top: 10px;
}

td, th {
	border: 1px solid lightgray;
	text-align: left;
	padding: 10px;
}

th {
	background-color: lightgray;
}

tr {
	background-color: #fff;
}

tr[onclick] {
	cursor: pointer;
}

tr[onclick]:hover {
	background-color: #eee;
}

/*==== Input ====*/

button, input[type="submit"] {
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 10px;
	font-weight: bold;
}

button.blue, input[type="submit"].blue {
	background-color: #1bf;
	color: #fff;
}

button:hover, input[type="submit"]:hover {
	border-color: #333;
}

input[type="text"], input[type="password"], textarea {
	padding: 3px 5px;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 10px;
}

input[type="text"]:not(.full-width), input[type="password"] {
	width: 250px;
}

#login-content > input[type="text"], #login-content > input[type="password"] {
	width: 80%;
}

/*==== Containers ====*/

#login-container {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-content {
	padding: 10px;
	width: 300px;
	background-color: #f4f4ff;
}

#container {
	background-color: #002;
	color: #fff;
	width: 100%;
	height: 100%;
}

#content-wrapper {
	height: calc(100% - 80px);
}

#content-row {
	flex: 1 100%;
	order: 1;
	padding: 20px;
	min-width: 400px;
	height: calc(100% - 40px);
	overflow: auto;
	color: #000;
	background-color: #f4f4ff;
}

/* Header, footer */

header, footer {
	text-align: right;
	height: 30px;
	padding: 5px 10px;
}

header > h3, footer > h3 {
	margin: 0;
}

/*==== Menu ====*/

#menu {
	flex: 1 200px;
	order: 0;
}

nav > a {
	display: block;
	width: calc(100% - 30px);
	padding: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: #fff;
}

nav > a:hover, nav > a.highlight {
	color: #000;
	background-color: #f4f4ff;
}

/*==== Classes ====*/

.error {
	color: red;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	flex-basis: -webkit-fit-content;
	flex-basis: -moz-fit-content;
	flex-basis: fit-content;
	flex-shrink: 0;
}

.col.wide {
	flex: 1 1 0;
}

.big-margin {
	margin-left: 100px;
	margin-right: 100px;
}

.box {
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid lightgray;
	width: 100%;
}

.bold {
	font-weight: bold;
}

.full-width {
	width: 100%;
}

.overlay {
	display: flex;
	visibility: hidden;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
}

.overlay > div {
	border: 5px solid gray;
	background-color: #f4f4ff;
	padding: 20px;
	width: auto;
	margin: 0 auto;
}

/*==== Ids ====*/

#editor {
	height: 400px;
	resize: none;
}

#loading {
	height: 100%;
	display: flex;
}

#loading > img {
    margin: auto;
	align-self: center;
}