/*==== Elements ====*/

table {
	width: 90%;
	border-collapse: collapse;
}

table td, table th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 10px;
}

table tr:nth-child(odd) {
    background-color: lightgray;
}

input[type="text"], input[type="password"] {
	width: 250px;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}

/*==== Containers ====*/

#container {
	width: 80%;
	margin: 20px auto;
}

#content-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row;
}

#content {
	flex: 1 100%;
	order: 2;
	padding: 10px;
	min-width: 400px;
}

/*==== Header, footer ====*/

header, footer {
	background-color: gray;
	padding: 10px;
	text-align: right;
}

header > h3, footer > h3 {
	margin: 0;
}

/*==== Menu ====*/

#menu {
	flex: 1 200px;
	order: 1;
	background-color: gray;
}

div[menu] {
	cursor: pointer;
	width: calc(95% - 20px);
	padding: 10px;
	margin-left: 5%;
}

div[menu]:hover, div[menu].highlight {
	background-color: #F0F0F0;
}